<div [ngClass]="'backgroundImage'" class="container body-content">
        <form #loginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)" style="text-align: center">
                <p-panel header="Login">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row"> 
                                <div class="ui-grid-col-12">
                                <input pInputText type="text" #UserName ngModel name="UserName" placeholder="Username" required>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <input  pInputText type="password" #Password ngModel name="Password" placeholder="Password" required>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-12">
                                <button pButton type="submit" label="Login" [disabled]="!loginForm.valid"></button>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div *ngIf="isLoginError" class="ui-message ui-messages-error ui-corner-all">
                                <i class="fa fa-close"></i>
                                 {{errorMessage}}
                             </div>
                        </div>
                    </div>
                </p-panel>
            </form>
    <div *ngIf="selectedUser">
            <form [formGroup]="userform" (ngSubmit)="save()">
                <p-panel header="Validate">
                    <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                First Name *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="firstname" [(ngModel)]="selectedUser.FirstName" placeholder="Required" />
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['firstname'].valid&&userform.controls['firstname'].dirty">
                                    <i class="fa fa-close"></i>
                                    Firstname is required
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Last Name *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="text" formControlName="lastname" [(ngModel)]="selectedUser.LastName" placeholder="Required" />
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['lastname'].valid&&userform.controls['lastname'].dirty">
                                    <i class="fa fa-close"></i>
                                    Lastname is required
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Phone Number *:
                            </div>
                            <div class="ui-grid-col-6">
                                <p-inputMask mask="(999) 999-9999" formControlName="phonenumber" [(ngModel)]="selectedUser.PhoneNumber" placeholder="(999) 999-9999"></p-inputMask>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['phonenumber'].valid&&userform.controls['phonenumber'].dirty">
                                    <i class="fa fa-close"></i>
                                    Phone Number is required
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Email Address *:
                            </div>
                            <div class="ui-grid-col-6">
                                <input pInputText type="email" formControlName="email" [(ngModel)]="selectedUser.Email" placeholder="Required" />
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['email'].valid&&userform.controls['email'].dirty">
                                    <i class="fa fa-close"></i>
                                    <span *ngIf="userform.controls['email'].errors['required']">Email Address is required</span>
                                    <span *ngIf="userform.controls['email'].errors['email']">Not valid email address</span>
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Gender *:
                            </div>
                            <div class="ui-grid-col-6">
                                <p-dropdown id="gender" name="gender" formControlName="gender" [options]="genders" [(ngModel)]="gender" placeholder="Select a Gender"
                                    optionLabel="Label"></p-dropdown>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['gender'].valid&&userform.controls['gender'].dirty">
                                    <i class="fa fa-close"></i>
                                    Gender is required
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2">
                                Status *:
                            </div>
                            <div class="ui-grid-col-6">
                                    <p-inputSwitch formControlName="status" onLabel="true" offLabel="false" [(ngModel)]="selectedUser.Status"></p-inputSwitch>
                            </div>
                            <div class="ui-grid-col-4">
                                <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!userform.controls['status'].valid&&userform.controls['status'].dirty">
                                    <i class="fa fa-close"></i>
                                    Status is required
                                </div>
                            </div>
                        </div>
                        <div class="ui-grid-row">
                            <div class="ui-grid-col-2"></div>
                            <div class="ui-grid-col-3">
                                <button pButton type="submit" label="Submit" [disabled]="!userform.valid"></button>
                            </div>
                            <div class="ui-grid-col-3">
                                <button pButton label="Cancel" type="button" class="ui-button-warning" (click)="cancel()"></button>
                            </div>
                            <div class="ui-grid-col-4"></div>
                        </div>
                    </div>
                </p-panel>
            </form>
        </div>
</div>