<div class="container body-content">
    <div *ngIf="selectedPassword">
        <form [formGroup]="passwordform" (ngSubmit)="save()">
            <p-panel header="Change Password">
                <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px">
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Old Password *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="password" formControlName="oldpassword" [(ngModel)]="selectedPassword.OldPassword" placeholder="Required" />
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['oldpassword'].valid&&passwordform.controls['oldpassword'].dirty">
                                <i class="fa fa-close"></i>
                                Old Password is required
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            New Password *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="password" formControlName="newpassword" [(ngModel)]="selectedPassword.NewPassword" placeholder="Required" />
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['newpassword'].valid&&passwordform.controls['newpassword'].dirty">
                                <i class="fa fa-close"></i> 
                                <span *ngIf="passwordform.controls['newpassword'].errors['required']">New password is required</span>
                                <span *ngIf="passwordform.controls['newpassword'].errors['minlength']">Not Less than 8 character</span>
                            </div>
                        </div>
                    </div>                                           
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2">
                            Confirm Password *:
                        </div>
                        <div class="ui-grid-col-6">
                            <input pInputText type="password" formControlName="confirmpassword" [(ngModel)]="selectedPassword.ConfirmPassword" placeholder="Required" />
                        </div>
                        <div class="ui-grid-col-4">
                            <div class="ui-message ui-messages-error ui-corner-all" *ngIf="!passwordform.controls['confirmpassword'].valid&&passwordform.controls['confirmpassword'].dirty">
                                <i class="fa fa-close"></i>                                
                                <span *ngIf="passwordform.controls['confirmpassword'].errors['required']">Confirm Password is required</span>
                                <span *ngIf="passwordform.controls['confirmpassword'].errors['passwordMatch']">Password and Confirm password not match</span>
                            </div>
                        </div>
                    </div>
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"></div>
                        <div class="ui-grid-col-3">
                            <button pButton type="submit" label="Submit" [disabled]="!passwordform.valid"></button>
                        </div>
                        <div class="ui-grid-col-3">
                            <button pButton label="Cancel" type="button" class="ui-button-warning" (click)="cancel()"></button>
                        </div>
                        <div class="ui-grid-col-4"></div>
                    </div>                    
                    <div class="ui-grid-row">
                        <div class="ui-grid-col-2"></div>
                        <div *ngIf="isError" class="ui-message ui-messages-error ui-corner-all ui-grid-col-3">
                            <i class="fa fa-close"></i>
                             {{errorMessage}}
                         </div>                         
                        <div class="ui-grid-col-7"></div>
                    </div>
                </div>
            </p-panel>
        </form>
    </div>
</div>